<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LoginCSI518</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Context Parameters -->
	<context-param>
		<param-name>email</param-name>
		<param-value>admin@domain.com</param-value>
	</context-param>
	<context-param>
		<param-name>username</param-name>
		<param-value>518</param-value>
	</context-param>
	<context-param>
		<param-name>password</param-name>
		<param-value>test</param-value>
	</context-param>

	<!-- Servlet Linking -->
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.java.controller.Login</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/server.properties</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<!-- Filter -->
	<filter>
		<filter-name>RequestLoggingFilter</filter-name>
		<filter-class>com.java.filter.RequestLoggingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SessionFilter</filter-name>
		<filter-class>com.java.filter.SessionFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>RequestLoggingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>